header {
    font-size: 50px;
    text-align: center;
}
.text {
    font-size: larger;
    text-align: left;
    margin: 0 0 0 0;
}
body{
    display: grid;
    grid-template-columns: 700px 2fr;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.info1{
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.kontakt {
    padding: 43px 61px 60px 63px;
    color: white;
    background-color: #394975;
}
.schule {
    padding: 43px 61px 60px 63px;
    color: white;
    background-color: rgb(147, 184, 219);
}

.block1 {
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
} 

.block2 {
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.block3 {
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
} 

.skills {
    margin-top:  5rem;

}

.contain {
    font-size: xlarge;
    text-align: center;
    display: block;
    padding: 3px 0px 3px 0px;
    color: white;
    background-color:#394975;
    
} 


.schule1 {
 
    border-top-style: solid;
    color: white;
    background-color: rgb(147, 184, 219);

}

sidebar {
  width: fit-content;
  
}

.main-inner {
    width: 700px;
    padding: 30px;
    height: 100%;
    margin: auto;




}