.adresse{
    padding: 53px 61px 60px 63px;
    background-color:#364156;
}
.schule{
    padding: 43px 61px 60px 63px;
}
.Schule1{
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} 
.adresse p{
    color:#F8F9FB;
}
.info{
    border-top-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

